<h1>Menu table</h1>
<!--<-->
<% currentMenu=MenuItem.where("menu_id = ?",3)%> 
<% currentMenu.each do |item| %>
<%= render partial: "menu-item", locals:{
                
            name: item.name,
            price: item.price,
            category: item.category,
            desc: item.description
        
            } %>

<% end %>