<% subtotal = 0%>
<table class="Table-cart">
<tr>
    <th>Name</th>
    <th>Price per unit</th>
    <th>Quantity</th>
</tr>
<% current_cart.each do |item| %>
<tr>
<td><%= item[:name] %></td>
<td><%= item[:price] %></td>
<td><%= item[:quantity] %></td>
</tr>
<% subtotal=subtotal+ ((item[:price].to_i)*(item[:quantity].to_i)) %>
<% end %>
</table>
<h2>Subtotal:<%= subtotal %></h2>
<hr>