<main class="MenuPageMain">
  <p class="MenuPage-title">Menu table</p>
  <div class="MenuPage">
    <div>
      <%categories= @currentMenu.select([:created_at,:category]).order(:created_at).map(&:category).uniq %>
      <%categories.each do |category|%>
      <h2><%= category %></h2>
      <%= render partial: "menu-item", locals:{
      items: @currentMenu.select{|item| item.category==category}} %>
      <%end%>
    </div>
    <div class="MenuPage-cart">
      <p class="MenuPage-cartTitle">Your cart</p>
      <%= render partial: "user-cart",locals:{current_cart: @current_cart.dup }%>
    </div>
  </div>
</main>
