<main class="MenuPageMain">
  <p class="MenuPage-title">Menu table</p>
  <div class="MenuPage">
    <div>
      <h2>Indian</h2>
      <%= render partial: "menu-item", locals:{
      items: @currentMenu.select{|item| item.category=='Indian'}} %>
      <h2>Chinese</h2>
      <%= render partial: "menu-item", locals:{
      items: @currentMenu.select{|item| item.category=='Chinese'}} %>
      <h2>Milkshakes</h2>
      <%= render partial: "menu-item", locals:{
      items: @currentMenu.select{|item| item.category=='Milkshake'}} %>
    </div>
    <div class="MenuPage-cart">
      <p class="MenuPage-cartTitle">Your cart</p>
      <%= render partial: "user-cart",locals:{current_cart: @current_cart.dup }%>
    </div>
  </div>
</main>
