<main class="AboutMain">
  <img class="About-logo" src="assets/logo-small.png">
  <p class="About-welcome">Welcome to The Grand Canopy</p>
  <p class="About-sentence">Everything we do is about you. From chefs who create exciting new flavors, to crew members who delivers your food at right time – we prioritize what you need to get you on your way. We strive to keep you at your best, and we remain loyal to you, your tastes and your time.</p>
  <p>That’s what India runs on.</p>
  <div style="display: flex; justify-content: space-evenly;">
    <div class="About-visitus">
      <p class="About-Heading">Visit Us@</p>
      <div style="display: flex;">
        <p class="Contact">Address : </p>
        <p style="width: 330px; text-align: justify; margin: 10px;">The Grand Canopy, No.69, M.C. Road, Thanjavur-7</p>
      </div>
      <div style="display: flex;">
        <p class="Contact">Phone : </p>
        <p style="margin: 10px;">9465874896</p>
      </div>
      <div style="display: flex;">
        <p class="Contact">Email : </p>
        <a href="mailto:grandcanopy@protonmail.com" style="color: #dcac24; margin: 10px;">grandcanopy@protonmail.com</a>
      </div>
    </div>
    <div class="About-visitus">
      <p class="About-Heading">Developer Info</p>
      <div style="display: flex; justify-content: space-evenly;">
        <div>
          <p class="ContactName">Arjun Siva</p>
          <div style="display: flex; justify-content: center;">
            <a href="https://www.linkedin.com/in/arjun-siva-s-9463161a5/"><img src="assets/linkedin.svg" class="Contact-icon"></a>
            <a href="https://www.github.com/Arjun-Siva"><img src="assets/github.svg" class="Contact-icon"></a>
          </div>
        </div>
        <div>
          <p class="ContactName">Anantha Narayanan</p>
          <div style="display: flex; justify-content: center;">
            <a href="https://www.linkedin.com/in/anantha-narayanan-balaji-98ab621a4/"><img src="assets/linkedin.svg" class="Contact-icon"></a>
            <a href="https://www.github.com/aakashananth"><img src="assets/github.svg" class="Contact-icon"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
