<main class="HomePageMain">
  <div class="HomePage-navigate">
    <form method="get" action="/menu_items">
      <input class="HomePage-naivgateButton" value="Order Now" type="submit" />
    </form>
    <form method="get" action="/pffers">
      <input class="HomePage-naivgateButton" value="Offers" type="submit" />
    </form>
  </div>
</main>
