<main class="HomePageMain">
  <div class="HomePage-navigate">
    <form method="get" action="/menu_items">
      <input class="HomePage-naivgateButton" value="Order Now" type="submit" />
    </form>
    <form method="get" action="/offers">
      <input class="HomePage-naivgateButton" value="Offers" type="submit" />
    </form>
  </div>
  <div class="HomePage-login">
    <form method="get" action="/signin">
      <input class="HomePage-loginButton" value="sign in" type="submit" />
    </form>
    <form method="get" action="/users/new">
      <input class="HomePage-loginButton" value="sign up" type="submit" />
    </form>
  </div>
</main>
