<main class="HomePageMain">
  <p class="HomePage-Title">Order tasty FOOD</p>
  <p class="HomePage-Title">Delivered to your Doorstep</p>
  <div class="HomePage-navigate">
    <form method="get" action="/menu_items">
      <input class="HomePage-naivgateButton" value="Order Now" type="submit" />
    </form>
    <form method="get" action="/offers">
      <input class="HomePage-naivgateButton" value="Offers" type="submit" />
    </form>
  </div>
  <div class="HomePage-navigate">
    <form method="get" action="/menu_items">
      <input class="HomePage-naivgateButton" value="Order Now" type="submit" />
    </form>
    <form method="get" action="/offers">
      <input class="HomePage-naivgateButton" value="Offers" type="submit" />
    </form>
  </div>
  <div class="HomePage-navigate">
    <form method="get" action="/menu_items">
      <input class="HomePage-naivgateButton" value="Order Now" type="submit" />
    </form>
    <form method="get" action="/offers">
      <input class="HomePage-naivgateButton" value="Offers" type="submit" />
    </form>
  </div>
  <div class="HomePage-navigate">
    <form method="get" action="/menu_items">
      <input class="HomePage-naivgateButton" value="Order Now" type="submit" />
    </form>
    <form method="get" action="/offers">
      <input class="HomePage-naivgateButton" value="Offers" type="submit" />
    </form>
  </div>
  <div class="HomePage-navigate">
    <form method="get" action="/menu_items">
      <input class="HomePage-naivgateButton" value="Order Now" type="submit" />
    </form>
    <form method="get" action="/offers">
      <input class="HomePage-naivgateButton" value="Offers" type="submit" />
    </form>
  </div>
  <div class="HomePage-navigate">
    <form method="get" action="/menu_items">
      <input class="HomePage-naivgateButton" value="Order Now" type="submit" />
    </form>
    <form method="get" action="/offers">
      <input class="HomePage-naivgateButton" value="Offers" type="submit" />
    </form>
  </div>
  <div class="HomePage-navigate">
    <form method="get" action="/menu_items">
      <input class="HomePage-naivgateButton" value="Order Now" type="submit" />
    </form>
    <form method="get" action="/offers">
      <input class="HomePage-naivgateButton" value="Offers" type="submit" />
    </form>
  </div>
  <div class="HomePage-navigate">
    <form method="get" action="/menu_items">
      <input class="HomePage-naivgateButton" value="Order Now" type="submit" />
    </form>
    <form method="get" action="/offers">
      <input class="HomePage-naivgateButton" value="Offers" type="submit" />
    </form>
  </div>
  <div class="HomePage-navigate">
    <form method="get" action="/menu_items">
      <input class="HomePage-naivgateButton" value="Order Now" type="submit" />
    </form>
    <form method="get" action="/offers">
      <input class="HomePage-naivgateButton" value="Offers" type="submit" />
    </form>
  </div>
</main>
