<div class="Missing">
  <%= image_tag "logo-small.png", class: "Missing-logo" %>
  <p class="Missing-text">Hungry ? Check out our <%= link_to "Menu", menu_items_path, class: "Missing-link" %></p>
</div>
