<h1>All saved menus </h1>
<ul>
<% @menus.each do |menu| %>
    <li> <%= menu.name %> -
    <% if menu.default %>
        <strong>Default</strong>
    <% else %>
        <%= form_with(url: "/owner/defaultMenu/#{menu.id}", method: "put") do %>
            <%= button_tag "Set as default",type:'submit', class:'setDefMenu-button'%>
        <% end %>
    <% end %>
    </li>
<% end %>
</ul>