/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Google Sans', arial, sans-serif;
    margin: 0;
    height: inherit;
}

.Navbar {
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(35, 10, 10, 0.76)), url(/assets/navbar.jpg);
}

.Navbar-icon {
    height: 40px;
    margin: 5px;
}

.Navbar-content {
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #000000;
    float: left;
    display: flex;
    text-align: center;
    text-decoration: none;
}

.Navbar-loginLink {
    color: #ffffff;
    text-decoration: none;
    padding: 2px 2px;
    margin: 10px;
}

.AppHeader-title {
    padding: 2px 2px;
    margin: 10px;
}

.AppHeader-signout {
    color: #ffffff;
    text-decoration: none;
    padding: 2px 2px;
    margin: 10px;
}

.BreakLine {
    width: 100%;
    border: 0.5px solid #dadce0;
    margin-bottom: 20px;
}

.FlashMessage {
    text-align: center;
    color: #d93025;
    font-size: 12px;
    margin-bottom: 10px;
}

.animate {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}