/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'Google Sans', arial, sans-serif;
}

.Navbar {
    display: flex;
    height: 50px;
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 2px;
    justify-content: space-between;
}

.Navbar-icon {
    height: 40px;
    margin: 5px;
}

.AppHeader {
    margin-left: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AppHeader-title {
    font-size: 20px;
    font-weight: 600;
}

.AppHeader-signout {
    color: #ffffff;
    padding: 2px 2px;
    font-size: 16px;
}

.BreakLine {
    width: 440px;
    border: 0.5px solid #dadce0;
    margin-bottom: 20px;
}

.FlashMessage {
    text-align: center;
    color: #d93025;
    font-size: 12px;
    margin-bottom: 10px;
}