.HomePageMain {
    background-image: url(/assets/hotel.jpeg);
}

.HomePage-Title {
    font-size: 80px;
    color: #ffffff;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 50px;
}

.HomePage-navigate {
    align-items: center;
    display: flex;
}

.HomePage-naivgateButton {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid darkgrey;
    border-radius: 8px;
    color: rgb(96, 96, 96);
    height: 50px;
    font-size: 46px;
    margin: 20px;
}

.HomePage-login {
    align-items: center;
    display: inline-flex;
}

.HomePage-loginButton {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid darkgrey;
    border-radius: 8px;
    color: rgb(96, 96, 96);
    height: 30px;
    font-size: 22px;
    margin: 5px;
}