.HomePageMain {
    background-image: url(/assets/homepage.jpeg);
    height: 882px;
    max-width: 1908px;
    display: flex;
}

.HomePage-navigate {
    align-items: center;
    display: inline-flex;
    margin-top: 571px;
    margin-left: 700px;
    margin-right: 502px;
    margin-bottom: 241px;
}

.HomePage-naivgateButton {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid darkgrey;
    border-radius: 8px;
    color: rgb(96, 96, 96);
    height: 50px;
    font-size: 46px;
    margin: 20px;
}

.HomePage-login {
    align-items: center;
    display: inline-flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 820px;
}

.HomePage-loginButton {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid darkgrey;
    border-radius: 8px;
    color: rgb(96, 96, 96);
    height: 30px;
    font-size: 22px;
    margin: 5px;
}