.MenuPageMain {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 60px;
}

.MenuPage-title {
    text-align: center;
    background-color: #fc8019;
    border: 1px solid transparent;
    border-radius: 8px;
    color: white;
    height: 48px;
    font-size: 45px;
}

.CartItem-delete {
    height: 28px;
}

.menuItem{
    border: 50px;
}