.MenuPageMain {
    width: 100%;
    margin: 0 auto;
    color: white;
    background-image: url(/assets/menu_items.jpg);
    background-size: cover;
}

.MenuPage {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
}

.MenuPage-menu {
    display: block;
}

.MenuPage-items {
    display: flex;
}

.MenuPage-cart {
    float: right;
    background-color: rgba($color: #dadce0, $alpha: 0.3);
    padding: 0 25px;
    border-left: 2px solid whitesmoke;
}

.MenuPage-cartTitle {
    font-size: 42px;
    text-align: center;
    margin: 10px;
}

.CartItem-delete {
    height: 28px;
}

.MenuItem {
    margin: 25px;
    width: 250px;
    border: 2px solid #351010;
    border-radius: 8px;
    background-color: #dadce0;
}

.MenuItem:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.MenuItem-image {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}