.SignInPage {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 200px;
    border: 1px solid #dadce0;
    border-radius: 8px;
}

.SignUpPage {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #dadce0;
    border-radius: 8px;
}

.LoginPage-title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 24px;
}

.LoginPage-credentials {
    margin: 40px;
    margin-bottom: 40px;
}

.LoginPage-redirect {
    color: #1a73e8;
    font-size: 14px;
    text-decoration: inherit;
    font-weight: 560;
}

.LoginPage-container {
    display: flex;
    width: 356px;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

.FormInput-label {
    font-size: 12px;
    color: #5f6368;
    height: 14px;
    margin: 0px;
    margin-left: 15px;
}

.Form-input {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(232, 240, 254);
    width: 350px;
    height: 30px;
    padding: 2px 2px;
    font-size: 18px;
    margin: 10px;
    margin-bottom: 15px;
}

.Form-submit {
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #1a73e8;
    height: 35px;
    padding: 2px 2px;
    font-size: 16px;
    width: 80px;
}