.CartTable {
    margin: 25px 0;
    max-width: 450px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.CartTable thead tr {
    background-color: #351010;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
}

.CartTable th,
.CartTable td {
    padding: 10px 10px;
}

.CartTable tbody tr {
    color: #000000;
    font-size: 20px;
    border-bottom: 1px solid #351010;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    text-align: center;
}

.CartTable tbody tr:last-of-type {
    border-bottom: 2px solid #351010;
}

.CartTable-quantity {
    display: flex;
    color: #000000;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

.CartTable-delete {
    height: 24px;
}

.CartTotal {
    font-size: 20px;
    font-weight: 600;
    padding: 5px 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.CartTotal:hover {
    background-color: #351010;
}

.CartRedirect {
    background-color: transparent;
    color: #351010;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 5px;
    margin-bottom: 10px;
}

.CartRedirect:hover {
    background-color: rgba(35, 10, 10, 0.9);
    color: #f3f3f3;
    transition: background-color 0.3s;
}

.QuantityButton {
    font-size: 26px;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 2px 2px;
    width: 18px;
}